{% extends 'base.html' %}

{% block content %}
<h1>Hello world!</h1>
<h1>Post</h1>

{% for post in object_list %}
<div class="border mt-1">
    <li><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> - {{ post.author.get_full_name }} - {{ post.post_date }}<br>
        <a href="{% url 'update-post' post.pk %}"><small>Edit Post</small></a><br>
        <a href="{% url 'delete-post' post.pk %}"><small>delete Post</small></a><br>
        {{ post.body }}
    </li>
    <br>
</div>
{% endfor %}
{% endblock content %}